
.vs/VkPlayer/v15/.suo
.vs/VkPlayer/v15/Server/sqlite3/db.lock
.vs/VkPlayer/v15/Server/sqlite3/storage.ide
.vs/VkPlayer/v15/Server/sqlite3/storage.ide-shm
.vs/VkPlayer/v15/Server/sqlite3/storage.ide-wal
VkPlayer/bin
VkPlayer/obj